.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: rgb(0, 0, 122);
    font-weight: bold;
}

.header-right{
    font-size: 25px;
}

.header-nav li{
    display: inline-block;
    padding: 0px 10px;
}

.main-img{
    width: 50%;
    margin-top: 100px;
    margin-left: auto;
}

.main-img img{
    width: 100%;
    position: relative;
    z-index: 10;
}

.main-ttl h1{
    font-size: 70px;
    font-weight: normal;
    position: relative;
    top: -140px;
}

.main-bluebox{
    width: 75%;
    height: 150px;
    background: rgb(0, 0, 122);
    position: relative;
    top: -140px;
    z-index: 0;
}